@font-face {
    font-family: 'baskerville';
    src: url('resources/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'baskerville';
    src: url('resources/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'baskerville';
    src: url('resources/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'baskerville';
    src: url('resources/fonts/LibreBaskerville/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: block;
}
